<tr>
  <td style="padding:30px 30px 20px 30px;">
    <h1 style="border-radius: 10px; font-size:24px;margin:0 0 20px 0;font-family:'Open Sans',sans-serif;color:#C9252C">Hola {{user}}</h1>
    <p style="margin:0;font-size:16px;line-height:24px;font-family:'Open Sans',sans-serif;">Se ha creado un nuevo reconocimiento.</p>
  </td>
</tr>
<tr>
  <td>
    <table style="margin-bottom: 20px; font-family:Roboto,sans-serif;font-size:12px; width:80%; margin:0px auto">
      <tr>
        <th style="width:20%;border-style:solid;border-color: #fff;border-width: 1px;padding:3% 1%;background-color:#c8efff;color:#2d8aac;text-align:left;">Usuario reconocido</th>
        <td style="width:80%;border-style:solid;border-color: #fff;border-width: 1px;padding:3% 1%;background-color:#f2f2f2;color:#808080;text-align:center;">{{owner}}</td>
      </tr>
      <tr>
        <th style="width:20%;border-style:solid;border-color: #fff;border-width: 1px;padding:3% 1%;background-color:#c8efff;color:#2d8aac;text-align:left;">Valor</th>
        <td style="width:80%;border-style:solid;border-color: #fff;border-width: 1px;padding:3% 1%;background-color:#f2f2f2;color:#808080;text-align:center;">{{quality}}</td>
      </tr>
      <tr>
        <th style="width:20%;border-style:solid;border-color: #fff;border-width: 1px;padding:3% 1%;background-color:#c8efff;color:#2d8aac;text-align:left;">Usuario reconocedor</th>
        <td style="width:80%;border-style:solid;border-color: #fff;border-width: 1px;padding:3% 1%;background-color:#f2f2f2;color:#808080;text-align:center;">{{username}}</td>
      </tr>
    </table>
  </td>
</tr>

<tr style="border-top:1px solid #f1f1f1">
  <td style="padding: 30px;">
    <p style="margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:'Open Sans',sans-serif;text-align:center;">O copie este enlace y péguelo en su navegador web</p>
    <p style="margin:0;font-size:16px;line-height:24px;font-family:'Open Sans',sans-serif;color:#4d8659;text-align:center;">{{urlAction}}</p>
  </td>
</tr>